<a href="https://colab.research.google.com/github/18K41A0588/assignment-2/blob/master/2_assigmnent_(18K41A0588).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1Q) 	Area of Triangle :
Given the lengths of three sides of a triangle, calculate the area of the triangle.

In [5]:
a= int(input("Enter first side of triangle : "))
b= int(input("Enter second side of triangle : "))
c= int(input("Enter third side of triangle : "))
if((a+b)>c):
  s=(a+b+c)/2
  area=(s*(s-a)*(s-b)*(s-c)) ** (1/2)
  print("Area of triangle is : ",round(area,3))
else :
  print("Area of triangle is not possible")

Enter first side of triangle : 30
Enter second side of triangle : 20
Enter third side of triangle : 40
Area of triangle is :  290.474

2Q).	Take a string from end user and check if the value is palindrome or not

In [18]:
a=input("Enter a string : ")
if(a==a[::-1]) :
  print("It is a palindrome")
else :
  print("Not a palindrome")

Enter a string : malayalam
It is a palindrome

3Q)	Write a program that reads a year from the user and displays a message 
Indicating whether or not it is a leap year.

In [32]:
a=int(input("Enter a year : "))
if(a % 4) == 0 :
  if(a % 100) == 0 :
    if(a % 400) == 0 :
      print("It is leap year")
    else :
      print("It is not leap year")
  else :
    print("It is a leap year")
else :
  print("It is not a leap year")

Enter a year : 2012
It is a leap year

4Q) Space To Hyphen problem 
Take a string as input, and replaces spaces “ “  with hyphens “-”, and returns a string.
Input: “ This program converts spaces into hyphen”
      Output:     “ This-program-converts-spaces-into-hyphen”

In [29]:
str=input("Enter a string : ") 
print(str.replace(" ","-"))

Enter a string : This program converts spaces into hyphen
This-program-converts-spaces-into-hyphen

5Q)	Unique Sort problem 
Take a string as input that accepts a comma separated sequence of words as input and prints the unique words in sorted form (alphanumerically).
*Input*: orange, white, red, cyan, green, magenta, cyan, pink, white
*Output*: cyan, green, magenta, orange, pink, red, white

In [48]:
b=input("Enter a string : ").split(',')
l=[]
l=list(b)
s=set(l)
ls=[]
ls=list(s)
ls.sort()
print(ls)

Enter a string : orange,white,red,cyan,green,magenta,cyan,pink,white
['cyan', 'green', 'magenta', 'orange', 'pink', 'red', 'white']

6Q) Tax Calculator
Ask the user for their monthly salary. Calculate whether they have to pay tax and if so, how much is that amount .Print the result

In [49]:
s=int(input("enter the salary"))
if(s<=250000):
  print("No need to pay tax Nil")
elif(s>=250001 and s<=500000):
    amount=s*(5/100)
    print("amount to be paid",amount)
elif(s>=500001 and s<=750000):
     amount=s*(10/100)
elif(s>=750001 and s<=1000000):
     amount=s*(15/100)
     print("amount to be paid",amount)
elif(s>=1000001 and s<=1250000):
     amount=s*(20/100)
     print("amount to be paid",amount)
elif(s>=1250001 and s<=1500000):
     amount=s*(25/100)
     print("amount to be paid",amount)

enter the salary25000
No need to pay tax Nil

7Q) Take a list of integers as an argument, and converts it into a single integer (return the integer).
*Input*: [11, 33, 50]
*Output*: 113350

In [69]:
l1=input("Enter list elements :").split(',')
s=""
s=s.join(l1)
n=int(s)
print(n)

Enter list elements :11,33,50
113350

8Q)	Units of Time

Create a program that reads duration from the user as a number of days, hours, minutes, and seconds. Compute and display the total number of seconds represented by this duration.

In [75]:
days=int(input('Enter number of days :'))
hours=int(input('Enter number of hours :'))
minutes=int(input('Enter number of minutes :'))
seconds=int(input('Enter number of seconds :'))
seconds_per_min=60
seconds_per_hour=3600
seconds_per_day=86400
totalseconds=days*seconds_per_day
totalseconds=totalseconds+(hours*seconds_per_hour)
totalseconds=totalseconds+(minutes*seconds_per_min)
totalseconds=totalseconds+seconds
print("Total seconds = ",totalseconds)

Enter number of days :10
Enter number of hours :5
Enter number of minutes :15
Enter number of seconds :200
Total seconds =  883100

9Q) 9.	Sort 3 Integers

Given three integers (given through user input), sort the numbers using |min| and  |max| functions.

In [34]:
a=int(input("Enter first number : "))
b=int(input("Enter second number : "))
c=int(input("Enter third number : "))
l1=max(a,max(b,c))
l2=min(a,min(b,c))
l3=(l1+l2)/2
l4=[]
l4.append(l1)
l4.append(l2)
l4.append(l3)
l4.sort()
print(l4)

Enter first number : 10
Enter second number : 2
Enter third number : 5
[2, 6.0, 10]

10Q) Write a program that reads a date from the user and computes its immediate successor. The date is the format YYYY-MM-DD. So, 2020-04-15 will have the successor 2020-04-16.

In [76]:
year=int(input("Enter a year : "))
if year%400== 0:
    leap_year=True
elif year%100==0:
    leap_year=False
elif year%4==0:
    leap_year=True
else:
    leap_year=False
month=int(input("Enter a month between 1 to 12 : "))
if month in (1, 3, 5, 7, 8, 10, 12):
    month_length=31
elif month==2:
    if leap_year:
        month_length=29
    else:
        month_length=28
else:
    month_length=30
day=int(input("Enter a day between 1 to 31 : "))
if day<month_length:
    day+=1
else:
    day=1
    if month==12:
        month=1
        year+=1
    else:
        month+=1
print("The immediate successor is YYYY-MM-DD : %d-%d-%d." %(year,month,day))

Enter a year : 2000
Enter a month between 1 to 12 : 2
Enter a day between 1 to 31 : 12
The immediate successor is YYYY-MM-DD : 2000-2-13.

11Q)	Compute product of a list of numbers [45 ,3,2,89,72,1,10,7]
Output: 121111200

In [1]:
l=[45,3,2,89,72,1,10,7]
p=1
n=len(l)
for i in range(0,n):
  p=p*l[i]

print("PRODUCT = ",p)

PRODUCT =  121111200

12Q) Compute given Num_list = [5, 6,8 ,34,89,1] to get desired outputOutput: Out_list=[11,14,42,123,90]

In [11]:
Num_list=[5,6,8,34,89,1]
Out_list=[]
s=0
n=len(Num_list)
for i in range(0,n-1) :
  s=Num_list[i]+Num_list[i+1]
  Out_list.append(s)

print("Out_list =",Out_list)

Out_list = [11, 14, 42, 123, 90]

13Q) Compute given Num_tuple = (5, 6,8 ,3,9,1) to get desired outputOutput: Out_list = [5, 30, 240, 720, 6480, 6480]

In [13]:
Num_tuple=(5,6,8,3,9,1)
Out_list=[]
s=Num_tuple[0]
Out_list.append(s)
n=len(Num_list)
for i in range(1,n) :
  s=s*Num_tuple[i]
  Out_list.append(s)

print("Out_list =",Out_list)

Out_list = [5, 30, 240, 720, 6480, 6480]

14Q) Write a Python code that takes a number and returns a list of its digits. So for 586392 it should return [5,8,6,3,9,2]

In [24]:
n=586392
n1=str(n)
l2=list(n1)
n=len(l2)
for i in range(0,n):
    l2[i]=int(l2[i])
print(l2)

[5, 8, 6, 3, 9, 2]

15Q) Write a program that finds the longest palindromic substring of a given string

In [25]:
str=input("Enter a string : ")
maxi=0
m=""
if str[::1]==str[::-1]:
    print(str)
else:
    for i in range(len(str)):
        for j in range(i+1,len(str)):
            if str[i:j+1:1]==str[j:i-1:-1]:
                if maxi<len(str[i:j+1:1]):
                    m=str[i:j+1:1]
                    maxi=len(str[i:j+1:1])
    if (maxi==0):
        print(str[0])
    else:
        print(m)

Enter a string : hello
ll

16Q) Substring Check (Bug Funny)Given two binary strings, A (of length 10) and B (of length 5), output 1 if B is a substring of A and 0 otherwise.First two lines of input:1010110010 101101110111011 10011First two lines of output:10

In [31]:
str1=(input('Enter any string : '))
str2=(input('Enter any substring : '))
n=str1.find(str2,0,len(str1))
if n==-1:
    print("sub string not found")
    print(0)
else:
    print("sub string  found")
    print(1)

Enter any string : 1010110010
Enter any substring : 10110
sub string  found
1